<div
  class="search-component"
  (click)="onSearchComponentClick(searchInput)"
  (focusout)="searchFieldExpanded = false"
>
  <a class="fas fa-search search-icon"></a>
  <mat-form-field
    class="search-input"
    [class.expanded]="searchFieldExpanded"
    appearance="standard"
  >
    <input
      #searchInput
      type="text"
      placeholder="Search"
      matInput
      [matAutocomplete]="auto"
      (input)="search(searchInput.value)"
    >
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-optgroup label="Movies">
        <mat-option
          *ngFor="let movie of movies$ | async"
          [value]="movie.title"
          (click)="updateMovieTitle(movie.title)"
        >
          {{movie.title}}
        </mat-option>
      </mat-optgroup>
      <mat-optgroup label="Cinemas">
        <mat-option
          *ngFor="let cinema of cinemas$ | async"
          [value]="cinema.name"
          (click)="updateCinemaName(cinema.name)"
        >
          {{cinema.name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</div>
