<div class="container">
  <mat-form-field class="number-of-seats" appearance="standard">
    <mat-label>Free seats</mat-label>
    <input
      type="number"
      min="1"
      matInput
      [(ngModel)]="filter.numberOfFreeSeats"
      (change)="onFilterChange()"
    >
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>From</mat-label>
    <input
      type="time"
      matInput
      [(ngModel)]="filter.startTime"
      (change)="onFilterChange()"
    >
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>To</mat-label>
    <input
      type="time"
      matInput
      [(ngModel)]="filter.endTime"
      (change)="onFilterChange()"
    >
  </mat-form-field>
</div>
