<h1 mat-dialog-title>Settings</h1>
<div mat-dialog-content class="navigation-container">
  <div class="navigation-list">
    <div class="navigation-point" [routerLink]="'/cinema'" mat-dialog-close>
      <h1 class="point-header">Cinemas</h1>
      <h2 class="point-subheader">Add new cinema.</h2>
      <h2 class="point-subheader">Edit existing cinema: edit info, add/delete halls.</h2>
      <h2 class="point-subheader">Delete cinema.</h2>
      <h2 class="point-subheader">Edit hall: edit info, edit seats layout of hall.</h2>
      <h2 class="point-subheader">Edit additional services for halls.</h2>
    </div>
    <hr class="dividing-line">
    <div class="navigation-point" [routerLink]="'/movie'" mat-dialog-close>
      <h1 class="point-header">Movies</h1>
      <h2 class="point-subheader">Add new movie.</h2>
      <h2 class="point-subheader">Edit existing movie: edit info, add showtimes.</h2>
      <h2 class="point-subheader">Delete movie.</h2>
    </div>
  </div>
</div>
