<h1 mat-dialog-title>Settings</h1>
<div mat-dialog-content class="navigation-container">
  <div class="navigation-list">
    <div class="navigation-point" [routerLink]="'/cinema'" mat-dialog-close>
      <h1 class="point-header">Cinemas</h1>
      <h2 class="point-subheader">Add, edit, delete, customize.</h2>
    </div>
    <hr class="dividing-line">
    <div class="navigation-point" [routerLink]="'/movie'" mat-dialog-close>
      <h1 class="point-header">Movies</h1>
      <h2 class="point-subheader">Add, edit, delete, customize.</h2>
    </div>
  </div>
</div>
