@import "../../../color-schema";

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: @main-blue;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;

  &:hover {
    color: @dark-blue;
  }
}

.nav-spacer {
  flex: 1 1 auto;
}

.location-icon {
  color: @main-blue;
  cursor: pointer;

  span {
    font-family: Arial, "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: black;
    margin-left: 4px;
  }
}

.user-icon,
.sign-icon {
  position: relative;
  top: 2px;
  color: @main-blue;
  cursor: pointer;

  &:hover {
    color: @dark-blue;
  }
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-toolbar {
  background-color: rgba(255,255,255,0.95);
  position: fixed;
  transition: background-color 0.5s;
}

.container {
  padding: 0 50px;
  z-index: 10;
}

.container-item {
  margin: 0 10px;
}
