<div class="add-showtime">
  <button mat-button (click)="needShowtime = !needShowtime">
    {{needShowtime ? "Hide" : "Add showtime"}}
  </button>
  <div *ngIf="needShowtime">

    <mat-form-field class="select">
      <mat-label>Choose cinema</mat-label>
      <mat-select [(ngModel)]="chosenCinema">
        <mat-option *ngFor="let cinema of cinemas" [value]="cinema">
          {{cinema.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="chosenCinema !== null" class="select">
      <mat-label>Choose hall</mat-label>
      <mat-select [(ngModel)]="chosenHall">
        <mat-option *ngFor="let hall of chosenCinema.halls" [value]="hall">
          {{hall.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="time">
      <input
        matInput
        type="time"
        [(ngModel)]="time"
      >
    </mat-form-field>

    <h2 class="title">Prices for seats:</h2>
    <div>
      <h3 class="seat-type">{{seatTypes.Standard.name}}</h3>
      <input
        class="price new-price prices-input"
        type="number"
        min="0"
        [(ngModel)]="standardPrice"
      >
    </div>
    <div>
      <h3 class="seat-type">{{seatTypes.Comfort.name}}</h3>
      <input
        class="price new-price prices-input"
        type="number"
        min="0"
        [(ngModel)]="comfortPrice"
      >
    </div>
    <div>
      <h3 class="seat-type">{{seatTypes.Sofa.name}}</h3>
      <input
        class="price new-price prices-input"
        type="number"
        min="0"
        [(ngModel)]="sofaPrice"
      >
    </div>

    <div *ngIf="chosenHall">
      <h2 class="title">Additional services:</h2>
      <div *ngIf="chosenHall.additions!.length === 0; else availableAdditions">
        <p class="available-additions-info">There are no additional services in {{chosenHall.name}} hall!</p>
      </div>
      <ng-template #availableAdditions>
          <mat-form-field class="select" *ngFor="let addition of additions; let hallAdditionIndex = index">
            <mat-label>Choose addition</mat-label>
            <mat-select [value]="addition" (valueChange)="changeAddition($event, hallAdditionIndex)">
              <mat-option
                *ngFor="let hallAddition of chosenHall.additions"
                [value]="hallAddition"
              >
                {{hallAddition.addition.name}} - {{hallAddition.price}}$
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-button (click)="needAddition()">Add service</button>
      </ng-template>
    </div>
    <button mat-button (click)="addShowtime()">Add</button>

  </div>
</div>
<div class="showtime-list">
  <div *ngIf="currentMovie !== null">
    <h3>Showtimes:</h3>
      <mat-expansion-panel
        hideToggle
        *ngFor="let cinema of cinemasWithMovieShowtimes"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Cinema: {{cinema.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel
          hideToggle
          *ngFor="let hall of cinema.halls"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>Hall: {{hall.name}}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-expansion-panel
            hideToggle
            *ngFor="let showtime of currentMovie.showtimes"
          >
            <mat-expansion-panel-header *ngIf="showtime.hall.id === hall.id">
              <mat-panel-title>
                <span class="panel-title">Time: {{showtime.time}}</span>
                <i class="fas fa-trash delete-showtime" (click)="deleteShowtime(showtime.id)"></i>
              </mat-panel-title>
            </mat-expansion-panel-header>
            Prices:
            <div *ngFor="let price of showtime.prices">
              <p>{{price.seatType.name}}: {{price.price}}$</p>
            </div>
          </mat-expansion-panel>
        </mat-expansion-panel>
      </mat-expansion-panel>
  </div>
</div>
