.intro-inner:after {
  background: url('../../../assets/backgrounds/intro-home.png') no-repeat;
  background-size: auto 100vh;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

.intro-inner {
  padding-top: 35vh;
  padding-left: 500px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.container h2 {
  color: #0000c4;
  text-align: center;
  font-size: 40px;
}

.container mat-form-field {
  display: block;
  font-size: 20px;
}

.button {
  font-size: 20px;
  color: white;
  margin: 0 auto;
  display: block;
  background-color: #0000c4;
}
