<div class="intro-inner">
  <div class="container" [formGroup]="introForm">
    <h2>What are you looking for?</h2>
    <mat-form-field appearance="standard">
      <mat-label>cinema</mat-label>
      <input type="text"
             matInput
             formControlName="cinema">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>film</mat-label>
      <input type="text"
             matInput
             formControlName="film">
    </mat-form-field>
    <button mat-raised-button class="button" (click)="onSearchClick()">Search</button>
  </div>
</div>
