<div class="container" [formGroup]="authForm">
  <mat-form-field appearance="standard">
    <mat-label>e-mail</mat-label>
    <input type="email"
           matInput
           formControlName="email">
    <mat-error *ngIf="!authForm.get('email')?.valid">Email is not valid.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>password</mat-label>
    <input type="password"
           matInput
           formControlName="password">
    <mat-error *ngIf="!authForm.get('password')?.valid">Password is not valid.</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="button" (click)="onCloseClick()">No Thanks</button>
  <button mat-button class="button" (click)="onSignInClick()" [disabled]="!authForm.valid">Sign in</button>
</div>
