<div class="main-container">
  <div>
    <div class="info-container">
      <button mat-button (click)="navigateToCinema()">
        Cinema: {{cinemaName}}
      </button>
      <p>
        Name:
        <input
          type="text"
          [(ngModel)]="hall.name"
        >
      </p>
      <p>Number of rows:
        <input
          type="number"
          min="0"
          value="{{seatsLayout.length}}"
          (change)="onNumberOfRowsChange($event)"
        >
      </p>
      <p>Number of columns:
        <input
          type="number"
          min="0"
          value="{{seatsLayout.length > 0 ? seatsLayout[0].length : 0}}"
          (change)="onNumberOfColumnsChange($event)"
          [disabled]="seatsLayout.length === 0"
        >
      </p>
      <p>Number of seats: {{numberOfSeats}}</p>
      <p *ngIf="isDirty" class="warning">
        Changes will be applied after saving
      </p>
      <mat-checkbox [(ngModel)]="needToFill">
        Fill seats
      </mat-checkbox>
      <button mat-button (click)="onSaveChangesClick()">
        Save
      </button>
    </div>
    <div class="info-container">
      <app-addition></app-addition>
    </div>
  </div>

  <div class="hall-container">
    <div class="page">
      <div class="screen"></div>
      <table>
        <tr *ngFor="let row of seatsLayout; let rowIndex = index">
          <td
            *ngFor="let seat of row; let columnIndex = index"
            [class.sofa]="isSofa(seat)"
          >
            <div
              *ngIf="seat; else addSeat"
              class="seat"
              [class]="seat.seatType.name.toLowerCase()"
              [matMenuTriggerFor]="seatSettings"
            >
              <div class="number">{{seat.place}}</div>
              <mat-menu #seatSettings>
                <button mat-menu-item (click)="$event.stopPropagation()">
                  <mat-form-field>
                    <mat-label>Seat Type</mat-label>
                    <mat-select
                      [value]="seat.seatType.id"
                      (selectionChange)="onSeatTypeChange(seat, $event)"
                    >
                      <mat-option [value]="seatTypes.Standard">
                        {{seatTypes.Standard.name}}
                      </mat-option>
                      <mat-option [value]="seatTypes.Comfort">
                        {{seatTypes.Comfort.name}}
                      </mat-option>
                      <mat-option
                        [disabled]="!canCreateSofa(seat.index, seat.row)"
                        [value]="seatTypes.Sofa"
                      >
                        {{seatTypes.Sofa.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </button>
                <button mat-menu-item (click)="onDeleteSeatClick(seat)">
                  Delete
                </button>
              </mat-menu>
            </div>
            <ng-template #addSeat>
              <div [matMenuTriggerFor]="addSeatSettings">
                <i class="fas fa-plus-square"></i>
                <mat-menu #addSeatSettings>
                  <ul mat-menu-item (click)="$event.stopPropagation()">
                    <mat-form-field>
                      <mat-label>Seat Type</mat-label>
                      <mat-select #selectedType>
                        <mat-option [value]="seatTypes.Standard">
                          {{seatTypes.Standard.name}}
                        </mat-option>
                        <mat-option [value]="seatTypes.Comfort">
                          {{seatTypes.Comfort.name}}
                        </mat-option>
                        <mat-option
                          [disabled]="!canCreateSofa(columnIndex, rowIndex)"
                          [value]="seatTypes.Sofa"
                        >
                          {{seatTypes.Sofa.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ul>
                  <ul
                    mat-menu-item
                    (click)="pushSeat(columnIndex, rowIndex, selectedType.value)"
                  >
                    Create
                  </ul>
                </mat-menu>
              </div>
            </ng-template>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="seat-container">
    <p class="header">Seats:</p>
    <div>
      <div
        class="legend standard-legend"
      ></div>
      <span class="legend-text">Standard</span>
    </div>
    <div>
      <div
        class="legend comfort-legend"
      ></div>
      <span class="legend-text">Comfort</span>
    </div>
    <div>
      <div
        class="legend sofa-legend"
      ></div>
      <span class="legend-text">Sofa</span>
    </div>
  </div>
</div>
