@import "../../color-schema";

.main-container {
  padding-top: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Segoe UI Semilight", serif;
}

.list-container {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
  margin: 0 40px 0 20px;
  padding: 10px;
  font-size: 16px;

  button {
    display: block;
    width: 100%;
  }

  p {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  .warning {
    font-size: 12px;
    color: red;
  }

  input {
    max-width: 100px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 18px;
  }
}

.hall-container {

  .page {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
    padding: 20px;
    min-height: 300px;

    table {
      margin: 0 auto;
    }
  }
}

td {
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  text-align: center;

  &.sofa {
    display: flex;
  }
}

.screen {
  content: '';
  margin: 0 auto 20px auto;
  width: 250px;
  min-height: 5px;
  background: black;
}

.seat {
  border: solid 1px black;
  border-radius: 25%;
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 16px;
  font-family: Verdana, fantasy;

  .number {
    margin: 0;
  }

  &.standard {
    border-color: @main-blue;
  }

  &.comfort {
    border-color: @yellow;

    &:hover {
      background-color: @yellow;
    }
  }

  &.sofa {
    padding: 15px 45px;
    border-color: red;
    z-index: 1;
    background-color: white;

    &:hover {
      background-color: red;
    }
  }

  &:hover {
    background-color: @main-blue;
    color: white;
  }
}

.seat-container {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
  margin: 0 20px 0 40px;
  padding: 20px 30px;

  .header {
    font-size: 20px;
  }

  .legend {
    display: inline-block;
    margin: 0 auto;
    width: 10px;
    height: 10px;

    &.standard-legend {
      background: @main-blue;
    }

    &.comfort-legend {
      background: @yellow;
    }

    &.sofa-legend {
      background: red;
    }
  }

  .legend-text {
    font-size: 17px;
    padding: 10px;
  }
}
